In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/BankChurnersUp.csv')
df.head()

,Unnamed: 0,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt
0,0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144
1,1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291
2,2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887
3,3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171
4,4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816

In [4]:
df.shape

(10127, 19)

In [6]:
dic = {
    'Unknown': 'N',
    'Less than $40K': 'a',
    '$40K - $60K': 'b',
    '$60K - $80K': 'c',
    '$80K - $120K': 'd',
    '$120K +': 'e'
}

df['newIncome'] = df.Income_Category.map(lambda x: dic[x])
df['newIncome']

0        c
1        a
2        d
3        a
4        c
        ..
10122    b
10123    b
10124    a
10125    b
10126    a
Name: newIncome, Length: 10127, dtype: object

In [7]:
def change_category(x):
    if x == 'Unknown':
        return 'N'
    elif x == 'Less than $40K':
        return 'a'
    elif x == '$40K - $60K':
        return 'b'
    elif x == '$60K - $80K':
        return 'c'
    elif x == '$80K - $120K':
        return 'd'
    else:
        return 'e'


df['newIncome'] = df.Income_Category.apply(change_category)
df['newIncome']

0        c
1        a
2        d
3        a
4        c
        ..
10122    b
10123    b
10124    a
10125    b
10126    a
Name: newIncome, Length: 10127, dtype: object

In [12]:
df['AgeState'] = df.Customer_Age.map(lambda x: x // 10 * 10)
df['AgeState'].value_counts().sort_index()

AgeState
20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: count, dtype: int64

In [14]:
df['newEduLevel'] = df.Education_Level.map(lambda x: 1 if 'Graduate' in x else 0)
df['newEduLevel'].value_counts()

newEduLevel
0    6483
1    3644
Name: count, dtype: int64

In [15]:
df['newLimit'] = df.Credit_Limit.map(lambda x: 1 if x >= 4500 else 0)
df['newLimit'].value_counts()

newLimit
1    5096
0    5031
Name: count, dtype: int64

In [16]:
def check(x):
    if x.Marital_Status == 'Married' and x.Card_Category == 'Platinum':
        return 1
    else:
        return 0
df['newState'] = df.apply(check, axis=1)
df['newState'].value_counts()

newState
0    10120
1        7
Name: count, dtype: int64

In [27]:
df = pd.read_csv('data/BankChurnersUp.csv')

def change_gender(x):
    if x =='M':
        return 'male'
    else:
        return 'female'

df['Gender'] = df.Gender.apply(change_gender)
df['Gender'].value_counts()

Gender
female    5358
male      4769
Name: count, dtype: int64